<%-include("header")-%>
<body>
    <div class="box" id="heading">
        <h1><%=listtitle%></h1>

    </div>
    <div class="box"> 
       
            <%  for(var i=0;i<itemlist.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p> <%= itemlist[i]%></p>

                </div>
                  
            <%  } %> 
         
      

            <form class="item" action="/" method="POST">
                <input type="text" name="newitem" placeholder="enter new item" autocomplete="off">
                    <button type="submit" name="list" value=<%=listtitle%>>+</button>
                </form>

    </div>
    
   
   
</body>
<%-include("footer")-%>
